@import "utils/variables";
@import "utils/mixin/common";
@import "utils/mixin/breakpoints";
@import "utils/mixin/animation";

@import "layout/header";
@include header_common;
@include header_2;
@import "layout/home_slider";
@include home_common;
@include home_2;
@import "layout/slick-slider";
@include slider_common;
@include slider_3;
@import "layout/service";
@include service_common;
@include service_style_2;
@import "layout/banner";
@include banner_2;
@include timer_banner_style_2;
@import "layout/product";
@include product_style_1;
@include product_style_2;
@import "layout/category";
@include category_common;
@include category_1;
// @import "layout/footer";
@import "layout/cookie_bar";
@include cookie-bar-1;
// @import "layout/subscribe";
@import "layout/offer";
@include offer_common;

.test-div{
    background-color: red;
}