/**=====================
     alert css start
==========================**/
.alert-info {
    .btn-close {
        font-size: 10px;
    }
}

.progress-bar-info {
    background-color: $dark-green;
}

[data-notify="progressbar"] {
    @include pseudowh($width: 100px, $height: 5px);
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}