.card {
  border: none;
  overflow: hidden;
  max-width: 100%;
  background: #fff;

  .image {
    position: relative;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  &.is-loading {

    .image,
    h2,
    p {
      background: #eee;
      margin-bottom: 10px;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }

    .image {
      height: 200px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    h2 {
      height: 30px;
    }

    p {
      height: 70px;
    }
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.skeleton-svg {
  @include pseudowh($width: 100%, $height: calc(280px + (428 - 280) * ((100vw - 320px) / (1920 - 320))));
}

.skeleton-img {
  @include pseudowh($width: 100%, $height: calc(200px + (350 - 200) * ((100vw - 320px) / (1920 - 320))));
}

.skeleton-c1 {
  @include pseudowh($width: calc(140px + (200 - 140) * ((100vw - 320px) / (1920 - 320))), $height: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))));
  border-radius: 15px;
  y: calc(260px + (415 - 260) * ((100vw - 320px) / (1920 - 320)));
}

.skeleton-c2 {
  @include pseudowh($width: calc(170px + (230 - 170) * ((100vw - 320px) / (1920 - 320))), $height: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))));
  border-radius: 15px;
  y: calc(242px + (390 - 242) * ((100vw - 320px) / (1920 - 320)));
}

.skeleton-c3 {
  @include pseudowh($width: calc(100px + (150 - 100) * ((100vw - 320px) / (1920 - 320))), $height: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320))));
  border-radius: 15px;
  y: calc(220px + (365 - 220) * ((100vw - 320px) / (1920 - 320)));
}

@keyframes loading {
  0% {
    border: 0 solid #fff;
    transition: all 0.3s ease;
  }

  20% {
    @include pseudowh($width: 0, $height: 0);
    border: 8px solid #fff;
    transition: all 0.3s ease;
  }

  100% {
    @include pseudowh;
    border: 8px solid #fff;
    transition: all 0.3s ease;
  }
}

.card.is-loading {
  .image {
    height: 420px;
  }
}